<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>NV's Occupancy Sensor Debug Page</title>
    <style>
        body {
            background: black;
            color: white;
        }

        div {
            display: block;
            clear: both;
        }

        li {
            float: left;
            display: block;
            padding: 0 5px;
        }

        img {
            clear: both;
        }

        iframe {
            width: 640px;
            height: 480px;
            float: left;
        }
    </style>
</head>
<body>
<script type="text/javascript" src="htmx.js"></script>

<ul>
    <li><a href="/debug.html">Refresh</a></li>
    <li><a href="/swagger" target="_blank">Swagger</a></li>
    <li><a href="api/v1/healthcheck" target="_blank">Health Check</a></li>
    <li><a href="api/v1/healthcheck/stats" target="_blank">Stats</a></li>
    <li><a href="api/v1/healthcheck/versionadv" target="_blank">Version Info</a></li>
    <li><a href="api/v1/healthcheck/emgucvbuildinfo" target="_blank">EmguCV Build Info</a></li>
</ul>
<div></div>
<ul>
    <li><a href="api/v1/frame/frame-corrected.jpg" target="_blank">Capture Corrected Frame</a></li>
    <li><a href="api/v1/frame/frame-denoised.jpg" target="_blank">Capture Denoised Frame</a></li>
    <li><a href="api/v1/frame/frame-subtracted.jpg" target="_blank">Capture Subtracted Frame</a></li>
    <li><a href="api/v1/frame/frame-raw.jpg" target="_blank">Capture Raw Frame</a></li>
</ul>
<div></div>
<ul>
    <li><a href="api/v1/streams/stream.mjpeg" target="_blank">Resulting Stream</a></li>
    <li><a href="api/v1/streams/stream-corrected.mjpeg" target="_blank">Corrected Stream</a></li>
    <li><a href="api/v1/streams/stream-denoised.mjpeg" target="_blank">Denoised Stream</a></li>
    <li><a href="api/v1/streams/stream-subtracted.mjpeg" target="_blank">Subtracted Stream</a></li>
    <li><a href="api/v1/streams/stream-raw.mjpeg" target="_blank">Raw Stream</a></li>
</ul>
<div></div>
<iframe src="api/v1/streams/stream.mjpeg"></iframe>
<iframe src="api/v1/streams/stream-raw.mjpeg"></iframe>
<div></div>
<button hx-post="/api/v1/Sensor/Start">Start Sensor</button>
<button hx-post="/api/v1/Sensor/Stop">Stop Sensor</button>
<div><span>Sensor: IsRunning</span> <span hx-get="/api/v1/Sensor/IsRunning" hx-trigger="every 2s"></span></div>
<div><span>Sensor: PresenceDetected</span> <span hx-get="/api/v1/Sensor/PresenceDetected" hx-trigger="every 2s"></span></div>
</body>
</html>